* {
    margin: 0px;
    padding: 3px;
}

/* @import url('Google font URL here'); */


body{
    background-color: rgb(165, 165, 141);

}

section{
    
    
    background-color: rgb(255, 241, 230);
}


#quoteApp{
    text-align: center;
    padding-top: 15px;   
}

#mood{
    height:250px;
}

#movies{
  height: 250px;
}

#daily-tasks{
   height: 545px;
   
   
}

@media screen and (min-width: 768px) {
    
    #movies{
        height: 830px;
    }

    #daily-tasks{
        height:830px;
    }
    
}







/* @media screen and (max-width: 750px) {

} */

/* @media screen and (max-width: 500px) {

} */